html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif, Tahoma, Geneva, Verdana;
}

.btn-top{
    position: sticky;
    bottom: 50px;
    left: 90%;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem 1rem;
    font-style: italic;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 48rem;
    text-align: center;
    text-transform: capitalize;
}

form {
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

form label {
    text-align: start;
    font-size: 1.5rem;
}

form input {
    padding: .5rem 1rem;
    border-radius: 4px;
    border: 1px solid #eee;
    color: #111;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

.grid-container{
    columns: 1;
    column-gap: 1rem;
}


@media (min-width: 400px) {
    .grid-container{
        columns: 2;
    }
}

@media (min-width: 768px) {
    .grid-container {
        columns: 3;
    }
}

@media (min-width: 1024px){
    .grid-container{
        columns: 4;
    }
}

.card {
    padding: 1rem .5rem;
    break-inside: avoid;
    margin: 0 0 1rem 0;
}

.card .card-img {
    width: 100%;
    border-radius: 4px;
}

.card footer {
    display: flex;
    flex-direction: column;
}

.card .name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card footer .description {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card footer .description .instagram_username {
    font-size: 12px;
}

.likes span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    font-weight: bold;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options .btn {
    color: #111;
    background-color: #ddd;
    padding: .4rem 1rem;
    border-radius: 4px;
    transition: all .4s ease-in-out;
    border: solid 2px #eee;
}

.options .btn:hover{
    background-color: #fff;
    cursor: pointer;
    border-color: #9992;
}

.options .btn-tooltip {
    background-color: #fff;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}

/* button tooltip */
.has-tooltip {
    position: relative;
}

.tooltip {
    position: absolute;
    top: -300px;
    left: -50px;
    transform: translateX(-50%);

    background-color: #fff8;
    backdrop-filter: blur(10px);
    padding: 4px;
    margin-top: 2px;
    border-radius: 4px;
    width: 150px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.has-tooltip:where(:hover, :focus-within) >
.tooltip {
    opacity: 1;
    visibility:visible;
}

